.contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    padding-left: 4em;
    padding-top: 2em;
  }
  
  .actividad {
    background-image: url("../../assets/aeroplane_1.gif");
    background-repeat: no-repeat;
    background-size: contain;
    display: flexbox;
    align-items: center;
    height: 16,5em;
    width: 26em;
    opacity: 100%;
    border-radius: 30px;
  }
  
  .tipo {
    font-size: 1.6em;
    position: relative;
    left: 1em;
    font-weight: bold;
    color: black;
  }
  
  .link {
    text-decoration: none;
    color: black;
  }
  
  .linkhome {
    font-size: 0.8em;
    position: absolute;
    top: 1em;
    right: 53em;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .linkform {
    font-size: 1.5em;
    position: relative;
    left: 40em;
  }
  .link {
    background-image: linear-gradient(to right, #f578c1, #ffffff 50%, #379bd1 50%);
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 22px;
    margin-left: -13em;
    font-family: 'Josefin Sans', sans-serif;
   }
  
  .link:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .link:hover {
    background-position: 0;
  }
  
  .link:hover::before {
    width: 100%;
  }
  
  .alert {
    position: absolute;
    background-color: white;
    color: #f44336;
    padding: auto;
    left: 5em;
    font-size: 1.5em;
  }
  
  .btnalert {
    position: absolute;
    top: 15em;
    left: 30em;
    color: #010305 !important;
    font-size: 1em;
    text-shadow: 1px 1px 0px #31b097;
    box-shadow: 1px 1px 1px #bee2f9;
    padding: auto;
    border-radius: 10px;
    border: 2px solid #538ad3;
    background: #63b8ee;
    background: linear-gradient(to top, #63b8ee, #468ccf);
  }
  .btnalert:hover {
    color: #14396a !important;
    background: #468ccf;
    background: linear-gradient(to top, #468ccf, #63b8ee);
  }