.contenedor {
    background-image: url("../../assets/sky.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 15em;
    border-radius: 22px;
  }
  .contenedor:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
  
  .img {
    height: 9.5em;
    width: 9.5em;
    border-radius: 70%;
    position: relative;
    top: 0.3em;
    left: -0.5em;
  }
  .name {
    color: rgba(255, 248, 248, 0.881);
    position: relative;
    bottom: 0.8em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.1em;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .link {
    text-decoration: none;
  }
  
  .continente {
    color: rgba(255, 248, 248, 0.881);
    position: relative;
    top: 0.8em;
    font-family: 'Josefin Sans', sans-serif;
  }