.contenedor {
    display: inline-block;
    padding-bottom: 2.5em;
    padding-top: 2.5em;
    padding-right: 2em;
    padding-left: 3em;
  }
  
  .label {
    font-weight: bold;
  }
  
  .input {
    border-radius: 0.3em;
    padding: 5px 10px;
    margin-top: 20px;
  }
  
  .boton {
    color: #010305 !important;
    font-size: 0.8em;
    text-shadow: 1px 1px 0px #31b097;
    box-shadow: 1px 1px 1px #bee2f9;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid #538ad3;
    background: #63b8ee;
    background: linear-gradient(to top, #63b8ee, #468ccf);
    font-family: 'Josefin Sans', sans-serif;
  }
  .boton:hover {
    color: #14396a !important;
    background: #468ccf;
    background: linear-gradient(to top, #468ccf, #63b8ee);
  }
  
  .link {
    right: -2em;
    bottom: 7em;
    font-weight: bold;
    font-size: 1.5em;
    background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: -150%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 55px;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .link:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .link:hover {
    background-position: 0;
  }
  
  .link:hover::before {
    width: 100%;
  }


  .link2 {
    right: -20em;
    bottom: 7em;
    font-weight: bold;
    font-size: 1.5em;
    background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: -150%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 55px;
    font-family: 'Josefin Sans', sans-serif;
  }

    
  .link2:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .link2:hover {
    background-position: 0;
  }
  
  .link2:hover::before {
    width: 100%;
  }
  