.contenedor {
    background-image: url("../../assets/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5em;
    position: absolute;
    margin-top: 3em;
    margin-left: 12em;
    height: 30em;
    width: 47em;
    border: solid rgb(8, 8, 43) 0.2em;
  }
  
  .image {
    height:11.5em;
    width: 15.5em;
    border-radius: 15%;
    position: relative;
    top: 2.3em;
    left: 14.5em;
  }
  
  .name {
    position: absolute;
    left: 16em;
    top: 10em;
  }
  .capital {
    position: absolute;
    left: 17em;
    top: 12em;
  }
  
  .population {
    position: absolute;
    left: 4em;
    bottom: 5em;
  }
  .continent {
    position: absolute;
    left: 4em;
    bottom: 1em;
  }

  .area {
    position: absolute;
    left: 18em;
    bottom: 3em;
  }

  .subregion {
    position: absolute;
    left: 4em;
    bottom: 3em;
  }
  .id {
    position: absolute;
    left: 4em;
    bottom: 7em;
  }
  
  .preg {
    position: absolute;
    right: 1em;
    bottom: 22em;
    font-size: 2em;
    white-space: nowrap;
  }
  
  .link {
    text-decoration: none;
    color: black;
    font-size: 0.7em;
    position: absolute;
    top: 9em;
    right: 3.5em;
    background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
  }
  
  .link:before {
    content: "";
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .link:hover {
    background-position: 0;
  }
  
  .link:hover::before {
    width: 100%;
  }
  
  .act {
    position: absolute;
    top: 11em;
    left: 32em;
  }
  
  .home {
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    position: absolute;
    bottom: 2em;
    right: 8em;
    background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position: -100%;
    transition: all 0.3s ease-in-out;
    border-radius: 22px;
  }
  
  .home:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .home:hover {
    background-position: 0;
  }
  
  .home:hover::before {
    width: 100%;
  }